:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 100vh;
  background-color: hsl(148, 38%, 91%);
}

h1 {
  font-size: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  line-height: 1.1;
}

input {
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(169, 82%, 27%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: hsl(187, 24%, 22%);
    --background-color: hsl(148, 38%, 91%);
    --button-color: white;
    --button-background-color: hsl(169, 82%, 27%);
    --input-focus-border-color: hsl(169, 82%, 27%);
    --form--background-color: white;
  }

  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  button {
    color: var(--button-color);
    background-color: var(--button-background-color);
  }

  .field__input:focus {
    border-color: var(--input-focus-border-color);
  }

  .main {
    background-color: var(--form--background-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(0, 0%, 90%);
    --background-color: hsl(210, 30%, 8%);
    --link-hover-color: hsl(210, 30%, 18%);
    --button-color: hsl(0, 0%, 100%);
    --button-background-color: hsl(169, 82%, 27%);
    --input-focus-border-color: hsl(169, 82%, 27%);
    --form--background-color: hsl(210, 30%, 12%);
  }

  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  a:hover {
    color: var(--link-hover-color);
  }

  button {
    color: var(--button-color);
    background-color: var(--button-background-color);
  }

  .field__input:focus {
    border-color: var(--input-focus-border-color);
  }

  .main {
    background-color: var(--form--background-color);
  }
}